@import "tailwindcss";

@layer utilities {
 
  .container-layout {
    @apply max-w-[1400px] mx-auto px-4 sm:px-6 lg:px-8 overflow-hidden ;
  }

  .section-layout {
    @apply min-h-screen;
  }

  .text-responsive {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold;
  }

  .image-responsive {
    @apply max-w-full h-auto rounded-lg object-cover;
  }

  .text-clamp {
    font-size: clamp(2rem, 20vw, 400px);
  }

  .text-clamp-heading {
    font-size: clamp(2rem, 12vw, 300px);
  }

  .text-clamp-about {
    font-size: clamp(2rem, 8vw, 300px);
  }

  .text-clamp-xl {
    font-size: clamp(1.75rem, 2vw, 2.5rem); /* Clamps between 1.75rem (28px) and 2.5rem (40px) */
    line-height: clamp(2.5rem, 5vw, 3rem); /* Clamps line height between 2.5rem (40px) and 3rem (48px) */
  }

  .main-btn {
    @apply px-5 py-6 w-[15rem] flex justify-center items-center; 
  }
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f5f5;
  }
}

body {
  background: var(--background);
  font-family: Helvetica, Arial, sans-serif;
  cursor: default;
}

@keyframes slow-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-slow-spin {
  animation: slow-spin 6s linear infinite;
}
